.ysz-card {
    @mixin border($w: ""){
        @if $w != "" {
            $w: "-" + $w
        }

        border#{$w}-color: inherit;
        border#{$w}-width: 1px;
        border#{$w}-style: solid;
    }
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include border; 
    background: #fff;
    .ysz-card__header, .ysz-card__footer {
        flex: 0 0 auto;
        padding: 0 0.45em;
    }
    .ysz-card__header {
        @include border("bottom"); 
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > .ysz-card__header-title {
            font-weight: 700;
        }
    }
    .ysz-card__footer {@include border("top"); }
    .ysz-card__body {
        flex: 1 0 auto;
        padding: 10px;
    }
}